chromadb
fastapi
langchain
langchain_community
langchain_core
langchain_google_genai
motor
protobuf
pydantic
pymongo
PyPDF2
python-dotenv
requests
python-multipart
google-generativeai
google-api-python-client

